# -*- mode: shell-script -*-

alias gitgraph='git log --graph --oneline --branches '
alias gcc='gcc -Wall -std=c11 -g '
alias g++='g++ -Wall -std=c++11 -g '
alias py='python '
alias py2='python2 '
alias py3='python3 '

if [ "$(uname)" = "Darwin" ]; then
    alias firefox='/Applications/Firefox.app/Contents/MacOS/firefox-bin '
    alias ls='ls -Gh '
    alias less='less -G '
    alias echopath="echo $PATH | tr ':' '\n'"
fi

if [ "$(uname)" = "Linux" ]; then
    # https://wiki.archlinux.org/index.php/Color_output_in_console
    alias ls='ls -v --color=auto '
    alias diff='diff --color=auto '
    alias grep='grep --color=auto '
    alias ip='ip -color=auto '
fi

alias dateiso='date +"%Y-%m-%d"'
alias datetimeiso='date +"%Y-%m-%d %H:%M"'

alias wl='iwctl station wlan0 '
alias wlup='iwctl station wlan0 connect '
alias wldown='iwctl station wlan0 disconnect'
